// Ensure "Add To Cart" button and quantity field hidden when custom
// checkbox (added in src/WooCommerce.php) is checked.
.woocommerce-variation-add-to-cart-disabled {
  display: none;
}

.woocommerce-checkout p.woocommerce-invalid-required-field span.error-required,
.woocommerce-checkout p.woocommerce-invalid:not(.woocommerce-invalid-required-field) span.error-validate {
  display: block !important; // This important key is needed to override the inline css in the element
  color: #aa0001;
}

.single_add_to_cart_button {
  opacity: 50%;

  &.enable {
    opacity: unset;
  }
}

.checkbox-container {
  margin-bottom: 10px;

  .checkbox-detail {
    display: none;

    &.expand {
      display: unset;
    }
  }

  .checkbox-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .checkbox-box {
      margin-right: 25px;
    }
  }
}
