// Ensure "Add To Cart" button and quantity field hidden when custom
// checkbox (added in src/WooCommerce.php) is checked.
.woocommerce-variation-add-to-cart-disabled {
  display: none;
}

.woocommerce-checkout p.woocommerce-invalid-required-field span.error-required,
.woocommerce-checkout p.woocommerce-invalid:not(.woocommerce-invalid-required-field) span.error-validate {
  display: block !important; // This important key is needed to override the inline css in the element
  color: #e2401c;
}
